.profile{
margin-top: auto; 
width: 50px; 
display: block; 
margin-left: auto;
margin-right: auto;
}
.text{
    text-align: center;
}
.descript{
   color: blueviolet;
}
h3 {
    text-align: center;
}
#special{
    margin-bottom: auto;
}
span{
    color: green;
}
.box{
    width: 30%;
    height: 40%;
    background-color: grey;
    margin: 30px;
    margin-left: 40%;
    padding-left: 30px;
    border: 1px solid blue;
    border-radius: 4px; 
    display: block; 
    margin-left: auto;
    margin-right: auto;
    font-size: 15px; 
    box-shadow: 5px 5px;
}
.container{
    width: 600px;
    height: 1000px; 
    /* 컨테이너 크기는 다 정해놓는게 좋다 */
}
.header{
    width: 100%;
    height: 20%;
    background-color: brown;
}
.left{
    width: 30%;
    height: 50%;
    background-color: chocolate;
    float: left;
}
.right{
    width: 70%;
    height: 50%;
    background-color: blue;
    float: left;
}
/* float를 쓰니깐 붕떠서 footer가 씹힘 */
.footer{
    width: 100%;
    height: 100px;
    background-color: darkblue;
    clear: both;
}
/* clear float해결법 */