.main-background{
    width: 100%;
    height: 700px;
    background-image: url(../img/background.jfif);
    background-size: contain; 
    padding-top: 1px;
    /* 사진크기에 맞추기 */
    /* background-size: cover;  */
    /* div박스 다채우기  */
    background-repeat: no-repeat;
    background-position: center;
    filter: brightness(100%);
}
.Title{
    color: white;
    font-size: 50px;
    margin-left: 40%; 
    margin-top: 100px;
    filter: brightness(100%);  
}
.maintext{
    margin-left: 30%;  
    font-size: 30px;
    font-style: italic;
}
.main-button{
    padding: 15px;
    font-size: 20px;
    background-color: rgb(250, 244, 244);
    border: none;
    border-radius: 5px;
    position: relative;
    /* 기준점을 잡아주는 속성(내 위치 기준), 공중에 뜸 */
    /* fix는 화면에 아예 고정시키는 속성 
    absolute 는 relative 속성을 가진 부모태그 아래에 놓음
    부모태그를 기준으로 움직임*/
    
    top: 100px;
    left: 50%;
}
.grey-box{
    position: relative;
    background-color: grey;
    max-width: 700px;
    width: 80%;
    height: 300px;
    left: 300px;
    top: -50px;
    border-bottom-color: red;
    box-sizing: border-box; 
    /* 박스 사이즈를 보더라인까지 포함해서 계산해준다 */
}
input{
    padding: 5px;
    border-radius: 5px;
    border: violet solid;
}
input[type=email]{
    padding: 5px;
    border-radius: 5px;
    border: black solid;
}